<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Animal-Mapper">

	<resultMap type="animal" id="animalMap">
		<result column="gid" property="gid" />
		<result column="nm" property="nm" />
		<result column="tel" property="tel" />
		<result column="addr" property="addr" />
		<result column="st_nm_addr" property="stNmAddr" />
		<result column="latitude" property="latitude" />
		<result column="longitude" property="longitude" />
		<result column="geom" property="geom" />

		<result column="x" property="x" />
		<result column="y" property="y" />
	</resultMap>

<select id="selectAnimalList" resultMap="animalMap">
	
	select *,
           split_part(btrim(split_part(st_astext(geom),'(',2),')'),' ',1) as x,
           split_part(btrim(split_part(st_astext(geom),'(',2),')'),' ',2) as y
	  from animal

</select>


</mapper>